### Análise Exploratória dos Dados

In [1]:
import pandas as pd

In [6]:
#Leitura do arquivo xlsx
df_clientes = pd.read_excel(
    io = 'dashboard-power-bi_visualizando-dados.xlsx',
    sheet_name = 'Clientes')
df_clientes.head()

,Nome,Idade,Gênero,Profissão,Cidade,Estado,Latitude,Longitude,Assinatura ativa,Contato Preferido
0,GISANA,63,F,Autônomo(a),Belo Horizonte,MG,-19.912998,-43.9542,Sim,Ligação
1,MARIDETE,58,F,Desenvolvedor(a),Fortaleza,CE,-3.718390,-38.5434,Sim,Ligação
2,OSVANA,34,F,Desenvolvedor(a),Manaus,AM,-3.107190,--60.0261,Sim,E-mail
3,OSNELIA,16,F,Enfermeiro(a),Curitiba,PR,-25.428400,-49.2733,Sim,WhatsApp
4,JENEFER,41,F,Médico(a),Fortaleza,CE,-3.718390,-38.5434,Sim,Ligação