In [3]:
import pandas as pd

### Leitura do arquivo

#### Leitura do dataframe de clientes

In [4]:
#Leitura do arquivo xlsx
df_clientes = pd.read_excel(
    io = 'dashboard-power-bi_visualizando-dados.xlsx',
    sheet_name = 'Clientes')
df_clientes.head()

,Nome,Idade,Gênero,Profissão,Cidade,Estado,Latitude,Longitude,Assinatura ativa,Contato Preferido
0,GISANA,63,F,Autônomo(a),Belo Horizonte,MG,-19.912998,-43.9542,Sim,Ligação
1,MARIDETE,58,F,Desenvolvedor(a),Fortaleza,CE,-3.718390,-38.5434,Sim,Ligação
2,OSVANA,34,F,Desenvolvedor(a),Manaus,AM,-3.107190,--60.0261,Sim,E-mail
3,OSNELIA,16,F,Enfermeiro(a),Curitiba,PR,-25.428400,-49.2733,Sim,WhatsApp
4,JENEFER,41,F,Médico(a),Fortaleza,CE,-3.718390,-38.5434,Sim,Ligação

#### Leitura do dataframe do catálogo de livros

In [5]:
#Leitura do arquivo xlsx
df_livros = pd.read_excel(
    io = 'dashboard-power-bi_visualizando-dados.xlsx',
    sheet_name = 'Catálogo livros')
df_livros.head()

,Titulo,Código,Autor,Assunto,Valor
0,50 Tons da Vida,36,Roberto Livianu,"Literatura brasileira, Crônicas",39.9
1,530 Gramas de Ilustrações,37,Marcelo Cipis,"Arte, Ilustração e pintura, Humor",63.0
2,A Um - Poemas,38,Robert Creeley,"Poesia, Literatura estrangeira, Bilíngue, Ilus...",41.0
3,A.S.A. - Associação dos Solitários Anônimos,39,Rosario Fusco,"Literatura brasileira, Romance",58.0
4,"Acústica Musical em Palavras e Sons, A",40,Flo Menezes,"Ilustrado, Música",81.0

#### Leitura do dataframe de vendas por semana

In [6]:
#Leitura do arquivo xlsx
df_vendas = pd.read_excel(
    io = 'dashboard-power-bi_visualizando-dados.xlsx',
    sheet_name = 'Vendas por semana')
df_vendas.head()

   Semanas  Vendas  Meta de vendas
0        1     800            1081
1        2     640             853
2        3     800            1096
3        4     700             971
4        5     930             904

#### Leitura do dataframe de acessos

In [7]:
#Leitura do arquivo xlsx
df_acessos = pd.read_excel(
    io = 'dashboard-power-bi_visualizando-dados.xlsx',
    sheet_name = 'Acessos na página')
df_acessos.head()

        Data  Acessos
0 2020-01-01     50.0
1 2020-01-02     51.0
2 2020-01-03     53.0
3 2020-01-04    203.0
4 2020-01-05    127.5

#### Leitura do dataframe de acessos

In [8]:
#Leitura do arquivo xlsx
df_nlivrosvendidos = pd.read_excel(
    io = 'dashboard-power-bi_visualizando-dados.xlsx',
    sheet_name = 'Número de livros vendidos')
df_nlivrosvendidos.head()

        Data  Número de livros vendidos  Grupo
0 2019-12-01                     1310.0       3
1 2019-12-02                     1386.0       1
2 2019-12-03                     1265.0       2
3 2019-12-04                     1370.0       2
4 2019-12-05                     1227.0       3

### Análise Exploratória dos Dados